[submodule "mopub-ios-sdk"]
	path = mopub-ios-sdk
url=git@github.com:caoyu1858/mopub-ios-sdk.git
[submodule "mopub-android-sdk"]
	path = mopub-android-sdk
url=git@github.com:caoyu1858/mopub-android-sdk.git