[submodule "mopub-ios-sdk"]
	path = mopub-ios-sdk
url=https://github.com/caoyu1858/mopub-ios-sdk.git
[submodule "mopub-android-sdk"]
	path = mopub-android-sdk
url=https://github.com/caoyu1858/mopub-android-sdk.git